<?xml version="1.0"?>
<configuration>



  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmbryoSegmenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <userSettings>
    <EmbryoSegmenter.Properties.Settings>
      <setting name="LogFile" serializeAs="String">
        <value>EmbryoSegmenterLog.txt</value>
      </setting>
      <setting name="XY_scale" serializeAs="String">
        <value>0.439</value>
      </setting>
      <setting name="Z_scale" serializeAs="String">
        <value>0.988</value>
      </setting>
      <setting name="Separator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="TestPipeline" serializeAs="String">
        <value>Test_Pipeline</value>
      </setting>
    </EmbryoSegmenter.Properties.Settings>
  </userSettings>


</configuration>
